/* template principal copié sur chaque pages */

body {
    height: 100vh;
    background: rgb(119, 68, 196);
    background: -moz-radial-gradient(circle, rgba(119, 68, 196, 1) 0%, rgba(45, 9, 100, 0.9472163865546218) 100%);
    background: -webkit-radial-gradient(circle, rgba(119, 68, 196, 1) 0%, rgba(45, 9, 100, 0.9472163865546218) 100%);
    background: radial-gradient(circle, rgba(119, 68, 196, 1) 0%, rgba(45, 9, 100, 0.9472163865546218) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7744c4", endColorstr="#2d0964", GradientType=1);
}

* {
    color: aliceblue;
    margin: 0;
    padding: 0;
}

#app * {
    font-size: 3vh;
}

#accueil {
    height: 100%;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 5px;
}


/* fin du template principal */

p {
    margin: 0px;
    font-weight: bold;
}

nav {
    margin-top: 30px;
}

.side1 {}


/* modification sur les boutons */

.btn-primary {
    border-radius: 30px;
    padding: 1% 2%;
    min-width: 60px;
    background-color: aliceblue;
    color: rgb(119, 68, 196);
    font-weight: bold;
    border: rgb(119, 68, 196) solid;
}

.btn-primary:hover {
    background-color: rgb(119, 68, 196);
    border: solid rgb(119, 68, 196);
    animation: inButton ease-in 2 0.2s;
}

#buttons {
    background-color: aliceblue;
    border-radius: 30px;
}

#buttons p {
    color: rgb(119, 68, 196);
}

#connect {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px
}


/* fin modification sur les boutons */


/* modification sur le formulaire d'inscription */

.container {
    width: 70%;
}

form {
    width: 100%;
}

.form-group {
    padding: 0 20px 0 20px;
}

input[type="radio"] {
    margin-top: 20px;
}

#inscription {
    margin-top: 40px;
    padding-top: 10px;
    background-color: aliceblue;
    border-radius: 30px;
}

#radioMF {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}

label {
    color: rgb(119, 68, 196);
    font-weight: bold;
}

#age {
    width: 10%;
    min-width: 100px;
}

.submit {
    width: 100%;
    margin-bottom: 80px;
}

button[type="submit"] {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: rgb(119, 68, 196);
    font-weight: bold;
}


/* fin des modifications sur le formulaire d'inscription */


/* début des modifications de monespace */

.navbar {
    padding: 0;
    /* Suppression du padding auto de l'attr navbar */
}

nav {
    margin-top: 40px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    color: rgb(119, 68, 196);
}

#mainSpace {
    background-color: aliceblue;
    min-height: 800px;
    border-radius: 20px;
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 50px;
}

.navbar-brand,
.nav-link {
    text-decoration: none;
    color: rgb(119, 68, 196);
    font-weight: bold;
}

.btn-navbar {
    position: absolute;
    right: 10px;
    padding: 15px;
    color: rgb(119, 68, 196);
    font-weight: bold;
    border-radius: 10px;
}

.nav-link {
    border-left: 1px solid black;
    padding: 20px;
    margin-right: 0px;
}

.nav-link:hover {
    background-color: rgb(119, 68, 196);
    color: aliceblue;
}


/* fin des modifications de mon espace */


/* début modification infoCompte */

.modifCompte {
    width: 60%;
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 10%;
    background-color: aliceblue;
}

.i {
    margin-top: 10px;
}

h2 {
    margin-top: 40px;
}


/* fin modification infoCompte */


/* Les animations (c'est pas encore les studios Pixar */

@keyframes inButton {
    from {
        background-color: aliceblue;
    }
    to {
        background-color: rgb(119, 68, 196);
    }
}


/* fin des animations */


/* responsive inscription début */

@media screen and (max-width: 1200px) {
    #radioMF {
        flex-direction: column;
    }
}


/* responsive inscription fin */