/* Scrollbar style */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #74747488;
    border: 31px none #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b6a6a;
}

::-webkit-scrollbar-thumb:active {
    background: #a3a3a3;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
    background: #f2f2f2;
}

::-webkit-scrollbar-track:active {
    background: #f5f5f5;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


/* fin style scrollbar */


/* template principal copié sur chaque pages */

body {
    height: 100vh;
    background: rgb(119, 68, 196);
    background: -moz-radial-gradient(circle, rgba(119, 68, 196, 1) 0%, rgba(45, 9, 100, 0.9472163865546218) 100%);
    background: -webkit-radial-gradient(circle, rgba(119, 68, 196, 1) 0%, rgba(45, 9, 100, 0.9472163865546218) 100%);
    background: radial-gradient(circle, rgba(119, 68, 196, 1) 0%, rgba(45, 9, 100, 0.9472163865546218) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#7744c4", endColorstr="#2d0964", GradientType=1);
}

* {
    color: aliceblue;
    margin: 0;
    padding: 0;
    font-family: 'Ms Madi', cursive;
    font-family: 'Radio Canada', sans-serif !important;
}

#accueil {
    margin-top: 150px;
}

#accueil+#accueil>div {
    height: 100%;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

header>p {
    color: aliceblue !important;
}

a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 5px;
}


/* fin du template principal */

p {
    margin: 0px;
    font-weight: bold;
}

nav {
    margin-top: 30px;
}

.side1 {
    font-size: 18px;
}

.side1>div>p {
    text-align: center;
}

.side1 div>h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 60px;
}

#buttons>nav>h3 {
    font-weight: bold;
}

.side1 div>iframe {
    margin: auto;
    display: block;
    margin-top: 10px;
}


/* CSS propre aux différents boutons */

.btn-primary {
    font-size: 18px;
    border-radius: 30px;
    padding: 1% 2%;
    min-width: 120px;
    background-color: aliceblue;
    color: rgb(119, 68, 196);
    font-weight: bold;
    border: rgb(119, 68, 196) solid;
}

.btn-primary:hover {
    background-color: rgb(119, 68, 196);
    border: solid rgb(119, 68, 196);
    animation: inButton ease-in 2 0.2s;
}

#buttons {
    background-color: aliceblue;
    border-radius: 30px;
}

#buttons p {
    color: rgb(119, 68, 196);
}

#connect {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px
}

#buttonModal {
    min-width: 200px;
    margin: 30px auto 0 auto;
    border-radius: 20px;
    background-color: blueviolet;
    padding: 5px 15px;
    color: white;
}

#buttonModal:hover {
    background-color: white;
    color: blueviolet;
}


/* fin modification sur les boutons */


/* CSS propre au formulaired'inscription */

.container {
    width: 70%;
}

.container-lg {
    max-width: 900px;
}

form {
    width: 100%;
}

.form-group {
    padding: 0 20px 0 20px;
}

input[type="radio"] {
    margin-top: 20px;
}

#inscription {
    margin-top: 40px;
    padding-top: 10px;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 30px 20px;
}

#radioMF {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}

label {
    color: rgb(119, 68, 196);
    font-weight: bold;
}

#age {
    width: 30%;
    min-width: 200px;
}

.submit {
    width: 100%;
}

h2 {
    text-align: center;
    color: rgb(119, 68, 196);
    font-weight: bold;
}


/* fin formulaire d'inscription */


/* Début des modifications sur le fomulaire de connection */

#connection {
    position: relative;
    top: 25%;
    padding: 30px 20px;
    background-color: aliceblue;
    border-radius: 30px 20px 20px 20px;
}

.log {
    margin: 10px;
}


/* fin des modifications sur le fomulaire de connection */


/* début des modifications de monespace */

.navbar-toggler-icon {
    background-image: url(../Images/wrapper.png);
}

.navbar {
    padding: 0;
    transition: 0.5s;
    /* Suppression du padding auto de l'attr navbar */
}

nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    color: rgb(119, 68, 196);
}

#mainSpace {
    background: rgba( 255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    min-height: 800px;
    border-radius: 20px;
    margin-top: 20px;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 50px;
}

.navbar-brand,
.nav-link {
    text-decoration: none;
    color: rgb(119, 68, 196);
    font-weight: bold;
}

.btn-navbar {
    position: absolute;
    right: 10px;
    padding: 15px;
    color: rgb(119, 68, 196);
    font-weight: bold;
    border-radius: 10px;
}

.nav-link {
    border-left: 1px solid black;
    padding: 20px;
    margin-right: 0px;
    width: 150px;
    text-align: center;
}

.nav-link:hover {
    background-color: rgb(119, 68, 196);
    color: aliceblue;
}

#deconnect {
    top: 5px;
}

#navbarSupportedContent>ul>li:nth-child(4)>a {
    border-right: 1px solid black;
}


/* fin des modifications de mon espace */


/* début modification infoCompte */

#modifCompte {
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    background-color: aliceblue;
}

.i {
    margin-top: 10px;
}

h2 {
    margin-top: 40px;
}


/* fin modification infoCompte */


/* Les animations (c'est pas encore les studios Pixar */

@keyframes inButton {
    from {
        background-color: aliceblue;
    }
    to {
        background-color: rgb(119, 68, 196);
    }
}


/* fin des animations */


/* responsive inscription début */

@media screen and (max-width: 994px) {
    #accueil {
        margin-top: 40px;
        transition: 0.4s;
    }
    #accueil>div {
        height: 60%;
    }
    .side1 {
        text-align: center;
    }
    .side1>div>h1 {
        margin-top: 40px;
        font-weight: bolder;
        font-size: 60px;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .side1+#buttons {
        width: 100% !important;
        margin: auto;
    }
    .container>div #buttons {
        margin-top: 50px;
    }
    /* navbar monespace */
    #deconnect {
        top: 80%;
    }
    #navbarSupportedContent>ul>li:nth-child(4)>a {
        border-right: 0px;
    }
    .navbar-toggler:focus {
        padding: 0 12px;
    }
    /* fin navbar monespace */
}

@media screen and (max-width: 375px) {
    .container {
        width: 100%;
    }
    iframe {
        visibility: hidden;
    }
    .side1 {
        margin-top: 20px;
    }
    .side1>div {
        max-height: 450px;
    }
}


/* responsive inscription fin */

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #33333398;
    backdrop-filter: blur(15px);
}

.modale {
    z-index: 1000;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff !important;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff365e;
    color: #fff;
}

.container>h1 {
    color: rgb(119, 68, 196);
    font-weight: 700;
}

.modal h1 {
    margin: 0 0 10px 0;
    font-weight: 500;
}

.modal p {
    line-height: 1.4;
    margin-bottom: 5px;
}

.modal-btn {
    color: #333333;
    font-family: Montserrat, "Helvetica Neue", OpenSans-Serif;
    font-weight: 800;
}

.posts {
    border: 2px solid rgba(128, 0, 128, 0.603);
    border-radius: 25px;
    margin: 0 auto 20px 0;
    padding: 20px 15px;
    width: 100%;
    font-weight: 800;
    word-wrap: break-word;
    max-height: 300px;
    overflow: hidden;
    background: rgba(240, 248, 255, 0.712);
}

.posts>* {
    color: rgb(119, 68, 196) !important;
}

em {
    font-size: 12px;
    color: #333333;
    font-weight: 600;
}

.posts:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 5px 5px 25px 2px rgba(119, 68, 196, 0.7);
    box-shadow: 5px 5px 25px 2px rgba(119, 68, 196, 0.7);
}

#noPost>h2 {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

#modifCompte h3 {
    color: rgb(119, 68, 196);
    margin-top: 40px;
    font-weight: 600;
}

#modifCompte h3>p {
    margin-left: 60px !important;
    width: 20px;
}

hr {
    width: 80%;
    height: 3px !important;
    color: rgb(119, 68, 196);
    margin: 10px auto;
}