<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Euh rebonjour</title>

</head>

<body>
    <header>
        <p> Powered by <a href="https://www.twitch.com" target="_blank">Twitch</a><i class="fab fa-twitch"></i></p>
    </header>

    <div class="cadre">

        <h1> Hey, coucou toi !</h1>

        <section id="askYou">

            <p>
                Alors il semblerait que tu souhaites nous rejoindre ?
            </p>
            <p>
                Oui, non .... Peut-être ?
            </p>
            <p>
                Avant que tu te décides, on va quand même te parler de nous. Comme ça, tu en apprendras un peu plus histoire de voir si on peut correspondre à tes
                <br> besoins !
            </p>
            <p>
                Mais si tu as déjà fait ton choix, tu peux<a href="./inscription.php">cliquer ici</a>
            </p>

        </section>

    </div>

</body>

</html>